body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  .dark-mode {
    background-color: black;
    color: white;
    
    }
  
 #darkbtn{
     
     float: right;
     /* background-image: url('/images/dark.png') ; */
     background-repeat: no-repeat;
    
    border-radius: 60%;
 }
 
 input[type="file"] {
    display: none;
}

.file1{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
#signup{
    text-align: center;
}